node_modules/
dist/
.DS_Store
*.log

output/

code/frontend/node_modules/
code/frontend/dist/
code/backend/__pycache__/
code/backend/.venv/
code/backend/*.pyc
code/backend/.env
code/frontEnd/node_modules/
code/frontEnd/dist/
code/backEnd/__pycache__/
code/backEnd/.venv/
code/backEnd/*.pyc
code/backEnd/.env
